<footer class="footer">
  <div class="socials">
    <a target="_blank" href="https://github.com/sjosuerojas">
      <i class="icon fab fa-github"></i>
    </a>
    <a target="_blank" href="https://www.linkedin.com/in/sylvesterjosuerojas/">
      <i class="icon fab fa-linkedin-in"></i>
    </a>
  </div>
</footer>
