---
import type { Entry } from "contentful";
import type { ItemFields, Link } from "../../models/content.model";
import { Image } from "@astrojs/image/components";
import logo from "../../assets/images/logo.png";

interface Props {
  lang: string;
  content: Entry<ItemFields>[];
}

const { lang, content } = Astro.props;
const data = Object.assign({}, ...content);
---

<header class="header">
  <!-- logo -->
  <div class="logo">
    <a href="/">
      <Image
        src={logo}
        width={36}
        height={36}
        class="logo-img"
        alt="Logo Portfolio"
        format="png"
      />
      <span class="logo-lnk">
        {data.fields.headTitle.split(" ", 2)[0]}
        <br />{data.fields.headTitle.split(" ", 2)[1]}
      </span>
    </a>
  </div>

  <!-- menu button -->
  <a href="/" class="menu-btn"><span></span></a>

  <!-- download cv button -->
  <a href="#" class="btn download-cv-btn">
    <span class="animated-button"><span>{data.fields.btnDownload}</span></span>
    <i class="icon fas fa-download"></i>
  </a>

  <!-- header sidebar -->
  <div class="header-sidebar">
    <!-- top menu -->
    <div class="top-menu">
      <div class="top-menu-nav">
        <div class="menu-topmenu-container">
          <ul class="menu">
            {
              data.fields.link.map((item: Link) => (
                <li
                  class:list={[
                    "menu-item",
                    item.name === "Home" ? "current-menu-item" : "",
                  ]}
                >
                  <a href={item.link}>
                    <span class="animated-button">
                      <span>{item.name}</span>
                    </span>
                  </a>
                </li>
              ))
            }
            <li class="menu-item">
              {
                lang === "en-US" ? (
                  <a href="/cv-sylvester-josue-rojas/es">
                    <span class="animated-button">
                      <span>{lang.split('-')[0]}</span>
                    </span>
                  </a>
                ) : (
                  <a href="/cv-sylvester-josue-rojas/">
                    <span class="animated-button">
                      <span>{lang.split('-')[0]}</span>
                    </span>
                  </a>
                )
              }
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</header>
